@model IEnumerable<ENT.Usuario>

@{
    ViewData["Title"] = "Usuário";
}

<h1>Usuário</h1>

@if (ViewBag.IsErro != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro !!</strong> Usuário não foi deletado.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-dark">Novo Perfil</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th>
                    E-mail
                </th>
                <th>
                    Perfil
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="mailTo:@item.Email" style="color:#fff;">@item.Email</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil.Nome)
                    </td>
                    <td align="center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                    </td>
                    <td align="center">
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm" data-id="@item.Id"><i class="fas fa-trash-alt"></i> Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PartialAsync("~/Views/Util/ModalDeletar.cshtml", new ModalDeletar()
{
    UrlCallback = @"\Usuario", 
    NomeTitulo = "Usuário",
    UrlPost = @"Usuario\Delete",


});;

<script type="text/javascript">
    document.read(function () {
        $('.alert').alert();
    });
</script>


